<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <title></title>
        <link type="text/css" rel="styleSheet"  href="/static/css/index.css" />
    </head>

    <body>
        <input type='checkbox' id='sidemenu'>
        <aside>
            <h2>主菜单</h2>
            <br />
            <ul id="sideul">
                <a href="##">
                    <li>首页</li>
                </a>
                <a href="##">
                    <li style="color: orange;">导航1</li>
                </a>
                <a href="##">
                    <li>导航2</li>
                </a>
                <a href="##">
                    <li>导航3</li>
                </a>
                <a href="##">
                    <li>导航4</li>
                </a>
                <a href="##">
                    <li>导航5</li>
                </a>
                <a href="##">
                    <li>导航6ʳ</li>
                </a>
            </ul>
        </aside>
        <div id='wrap'>
            <label id='sideMenuControl' for='sidemenu'>≡</label>
            <!--for 属性规定 label 与哪个表单元素绑定，即将这个控制侧边栏进出的按钮与checkbox绑定-->
        </div>

    </body>

</html>