<aside class="main-sidebar">
    <section class="sidebar">
    <div style="height: 60px">

    </div>
      <ul class="sidebar-menu" id="sidebar-menu">
        <li id="cmdb"><a href="#"><i class="fa fa-database"></i> <span>资产管理</span></a></li>
        <li id="appconf"><a href="#"><i class="fa fa-outdent"></i> <span>应用管理</span></a></li>
        <li id="setup"><a href="#"><i class="fa fa-cogs"></i> <span>任务编排</span></a></li>
        <li id="delivery"><a href="#"><i class="fa fa-retweet"></i> <span>持续交付</span></a></li>
        <li id="monitor"><a href="#"><i class="fa fa-television"></i> <span>监控平台</span></a></li>
        <li id="mfile"><a href="#"><i class="fa fa-folder-open"></i> <span>文件管理</span></a></li>
        <li id="accounts"><a href="#"><i class="fa fa-users"></i> <span>用户管理</span></a></li>
        <li id="config"><a href="#"><i class="fa fa fa-cog"></i> <span>系统配置</span></a></li>
      </ul>
    </section>
  </aside>
{% extends 'base.html' %}

